
<div class="row">
	<div class="well">
		<div class="col-md-4 pull-left" >
			<%= link_to gravatar_for(review.chef, size: 75), chef_path(review.chef) %>
	  </div>
<p>
  <strong><%= review.chef.chefname %></strong> says: <%= review.body %>
</p>

	<p>
			<span class="quiet"><small> created: <%= time_ago_in_words(review.created_at) %> ago,</small></span>
			<span class="quiet"><small> updated: <%= time_ago_in_words(review.updated_at) %> ago</small></span>
	</p>

     <% if logged_in? and(review.chef == current_user || current_user.admin?) %>
     <td><%= link_to 'Edit', edit_recipe_review_path(@recipe, review), class: "btn btn-small btn-info"%></td>
      <td><%= link_to 'Delete', [@recipe, review], method: :delete, class: "btn btn-small btn-danger", data: { confirm: 'Are you sure you want to delete this reiew?' } %></td>
 <% end %> 
 
	</div>
</div>
